body {
  margin: 0rem;  
  padding: 0rem;
  border:0rem;
}

.navbar.navbar-expand-lg.bg-primary {
  background-color:teal !important;
}

i.fa-brands, i.fa-solid  {
  color: white;
}

i.fa-solid.fa-envelope, i.fa-brands.fa-whatsapp{
  color: rgb(12, 99, 128);
}

i.fa-brands:hover, i.fa-solid:hover  {
  color: lightblue;
}



.list-group-item {
  --bs-list-group-bg: transparent;
} 

.container-fluid {  
  padding: 0rem;
  border-radius: 0.5rem;  
  border: 1px solid rgb(149, 175, 233);
}

.responsive {
  max-width: 100%;
  height: auto;
}

#logo {
  width: 5vw;
  height: 5vw;
}

.avatar {  
  padding-top: 0.2rem;  
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.avatarito {  
  margin-left: 10vw;  
  vertical-align: middle;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
#Header {
  background-color: rgba(223, 244, 255, 1);
  height: 4rem;
}

#AcercaDe {
  background-color: rgba(223, 244, 255, 1);  
  border-style: ridge;
}

#Experiencia {
  background-color: rgba(223, 244, 255, 1);
  height: 7rem;
}

#Educacion {
  background-color: rgba(223, 244, 255, 1);
  height: 7rem;
}

#Habilidades {
  background-color: rgba(223, 244, 255, 1);
  height: 7rem;
}

#Proyectos {
  background-color: rgba(223, 244, 255, 1);
  height: 7rem;
}
